* {
    box-sizing: border-box;
}

.image {
    height: 100%;
    width: 100%;
}

.tile-button {
    border: none;
    background-color: #f5f5f5;
}

.project-tile-info {
    font-family: "Abril Fatface";
    font-size: 1.75rem;
    line-height: 120%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);

}

.project-tile-info:hover {
    opacity: 1;
    justify-content: center;
    align-items: center;

}

/* .tile-button:hover {

} */