.project-context-container {
    display: flex;
    max-width: 1100px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.context-body {
    font-family: "Josefin Sans";
    font-weight: 350;
    word-spacing: 4px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    text-align: left;
}

.context-title {
    font-family: "Josefin Sans";
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 50%;
}

.images-container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 50px;
    /* background-color: red; */
}

.images-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* background-color: blue; */
    /* border: solid 2px black; */
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-one-container {
    position: relative;
    width: 65%;
    max-width: 700px;
    height: auto;
}

.image-two-container {
    position: relative;
    width: 55.7%;
    max-width: 600px;
    height: auto;
    left: 50%;
}

.image-three-container {
    position: relative;
    max-width: 800px;
    width: 74.28%;
    height: auto;
    left: 32%;
    margin-top: 12%;
}

.image-four-container {
    position: relative;
    width: 53.85%;
    max-width: 580px;
    height: auto;
    left: 12%;
    margin-top: 8%;
}

.image-five-container {
    position: relative;
    width: 53.85%;
    max-width: 580px;
    height: auto;
    left: 40%;
    margin-top: 15%;
}

.image-six-container {
    position: relative;
    max-width: 580px;
    width: 53.85%;
    height: auto;
    left: 10%;
    margin-top: 15%;
}

.image-seven-container {
    position: relative;
    width: 52%;
    max-width: 560px;
    height: auto;
    left: 50%;
}

.image-eight-container {
    position: relative;
    max-width: 490px;
    width: 45.49%;
    height: auto;
    left: 10%;
    margin-top: 15%;
}

.image-nine-container {
    position: relative;
    max-width: 500px;
    width: 46.425%;
    height: auto;
    left: 10%;
    margin-top: 40%;
}

.image-ten-container {
    position: relative;
    max-width: 800px;
    width: 74.28%;
    height: auto;
    left: 15%;
    margin-top: 15%;
}

.image-eleven-container {
    position: relative;
    max-width: 500px;
    width: 46.425%;
    height: auto;
    left: 48%;
    margin-top: 13%;
}

.image-twelve-container {
    position: relative;
    max-width: 380px;
    width: 35.283%;
    height: auto;
    left: 15%;
    margin-top: 3%;
}

.image-thirteen-container {
    position: relative;
    max-width: 450px;
    width: 41.7825%;
    height: auto;
    left: 15%;
    margin-top: 35%;
    margin-left: 2%;
}

.image-fourteen-container {
    position: relative;
    max-width: 700px;
    width: 64.995%;
    height: auto;
    left: 10%;
    margin-top: 15%;
    margin-left: 2%;
}

.image-fifteen-container {
    position: relative;
    max-width: 600px;
    width: 55.7%;
    height: auto;
    left: 35%;
    margin-top: 10%;
}

.image-sixteen-container {
    position: relative;
    max-width: 260px;
    width: 24.141%;
    height: auto;
    left: 15%;
}

.image-seventeen-container {
    position: relative;
    max-width: 850px;
    width: 78.9225%;
    height: auto;
    left: 10%;
    margin-top: 10%;
}

.image-eighteen-container {
    position: relative;
    max-width: 550px;
    width: 51.0675%;
    height: auto;
    left: 40%;
}

.image-nineteen-container {
    position: relative;
    max-width: 500px;
    width: 46.425%;
    height: auto;
    left: 13%;
    margin-top: 10%;
}

.image-twenty-container {
    position: relative;
    max-width: 480px;
    width: 44.568%;
    height: auto;
    left: 40%;
    margin-top: 10%;
}

.image-twenty-one-container {
    position: relative;
    max-width: 420px;
    width: 38.997%;
    height: auto;
    left: 13%;
    margin-top: 1%;
}

.image-twenty-two-container {
    position: relative;
    max-width: 350px;
    width: 32.4975%;
    height: auto;
    left: 15%;
    margin-top: 50%;
}

.image-twenty-three-container {
    position: relative;
    max-width: 480px;
    width: 44.568%;
    height: auto;
    left: 13%;
    margin-top: 13%;
    margin-bottom: 10%;
}