header {
    display: flex;
    top: 0;
    position: sticky;
    flex-direction: column;
    min-width: 100vw;
    width: 100vw;
    z-index: 10;
}

a {
    color: black;
}

.nav-link-button-left-top,
.nav-link-button-left-bottom,
.nav-link-button-right-top,
.nav-link-button-right-bottom {
    display: flex;
    font-family: 'Josefin Sans';
    border: none;
    background: none;
    font-weight: 300;
}

.nav-link-button-left-top p,
.nav-link-button-left-bottom p,
.nav-link-button-right-top p,
.nav-link-button-right-bottom p {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.nav-link-button-left-top {
    writing-mode: sideways-lr;
    padding-bottom: 45px;
    padding-top: 60px;
}

.nav-link-button-left-bottom {
    writing-mode: sideways-lr;
    padding-bottom: 60px;
    padding-top: 10px;
}

.nav-link-button-right-top {
    writing-mode: sideways-rl;
    padding-bottom: 45px;
    padding-top: 60px;
}

.nav-link-button-right-bottom {
    writing-mode: sideways-rl;
    padding-bottom: 40px;
    padding-top: 10px;
}

.nav-link-button-left-top:hover,
.nav-link-button-right-top:hover,
.nav-link-button-left-bottom:hover,
.nav-link-button-right-bottom:hover {
    font-weight: 400;
    cursor: pointer;
}

.nav-link-text {
    text-decoration: none;
}

.header-container {
    align-items: center;
    position: fixed;
    justify-content: space-between;
    text-decoration: none;
    background-color: #f5f5f5;
    /* border: solid 1px black; */
}

.header-container a {
    text-decoration: none;
}

.nav-container-header {
    display: flex;
    height: 107px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: flex;
    top: 0;
    align-items: center;
    font-family: 'Abril Fatface';
    color: #1b1212;
    font-weight: 600;
    /* background-color: red; */
    font-size: clamp(1rem, 5vw, 3rem);
}

.footer-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    /* border: solid 1px black; */
}

.footer-container a {
    text-decoration: none;
}

.nav-container-footer {
    display: flex;
    height: 100px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}
