header {
    display: flex;
    top: 0;
    position: sticky;
    flex-direction: column;
    min-width: 100vw;
    width: 100vw;
    z-index: 10;
    h1 {
        font-size: 4.5em;
    }
}

.nav-link-button-left-top {
    display: flex;
    font-family: 'Josefin Sans';
    font-size: 22px;
    writing-mode: sideways-lr;
    font-weight: 300;
    border: none;
    background: none;
    padding-bottom: 45px;
    padding-top: 60px;
}

.nav-link-button-left-bottom {
    display: flex;
    font-family: 'Josefin Sans';
    font-size: 22px;
    writing-mode: sideways-lr;
    font-weight: 300;
    border: none;
    background: none;
    padding-bottom: 60px;
    padding-top: 10px;
}

.nav-link-button-right-top {
    display: flex;
    font-family: 'Josefin Sans';
    writing-mode: sideways-rl;
    font-weight: 300;
    font-size: 22px;
    border: none;
    background: none;
    padding-bottom: 45px;
    padding-top: 60px;
}

.nav-link-button-right-bottom {
    display: flex;
    font-family: 'Josefin Sans';
    writing-mode: sideways-rl;
    font-weight: 300;
    font-size: 22px;
    border: none;
    background: none;
    padding-bottom: 40px;
    padding-top: 10px;
}

.nav-link-button-left-top:hover,
.nav-link-button-right-top:hover,
.nav-link-button-left-bottom:hover,
.nav-link-button-right-bottom:hover {
    font-weight: 400;
    cursor: pointer;
}

.nav-link-text {
    text-decoration: none;
}

.header-container {
    align-items: center;
    position: fixed;
    justify-content: space-between;
    text-decoration: none;
    background-color: #f5f5f5;
    /* border: solid 1px black; */
}

.header-container a {
    text-decoration: none;
}

.nav-container-header {
    display: flex;
    height: 107px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: flex;
    align-items: center;
    font-family: 'Abril Fatface';
    color: #1b1212;
    /* font-size: 4.5em; */
    font-weight: 600;
    padding: 3rem;
}

.footer-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    /* border: solid 1px black; */
}

.footer-container a {
    text-decoration: none;
}

.nav-container-footer {
    display: flex;
    height: 100px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}
