.project-context-container {
    display: flex;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
}

.context-body {
    font-family: "Josefin Sans";
    font-weight: 350;
    word-spacing: 5px;
    ;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    text-align: left;
}

.context-title {
    font-family: "Josefin Sans";
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 50%;
}