.works-page-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 107px;
    margin-left: 50px;
    margin-right: 50px;
}


.project-tile-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: fit-content;
    max-width: fit-content;
}

.project-tile-container:hover {
    cursor: pointer;
}

.project-tile-one {
    position: absolute;
    top: 50px;
    left: 200px;
}

.project-tile-two {
    position: absolute;
    top: 50px;
    left: 550px;
}

.project-tile-three {
    position: absolute;
    top: 550px;
    left: 200px;
}