.works-page-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    margin-top: 107px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    /* background-color: red; */
}

.works-page-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: blue; */
}

.works-page-row-container:nth-child(1) {
    padding: 1% 5%;
}

.works-page-row-container:nth-child(2) {
    padding: 10%;
    padding-left: 5%;
}

.project-tile-one {
    position: relative;
    border: none;
    width: 50%;
    max-width: 300px;
    height: fit-content;
}

.project-tile-two {
    position: relative;
    /* right: 10%; */
    left: 10%;
    top: -100px;
    margin-top: auto;
    /* needs to be changed to be responsive */
    width: 45%;
    height: fit-content;
    max-width: 500px;
}

.project-tile-three {
    position: relative;
    height: fit-content;
    /* left: 30%; */
    width: 50%;
    top: -60px;
    left: -5%;
    margin-top: auto;
    max-width: 600px;
}

.project-tile-four {
    position: relative;
    height: fit-content;
    width: 50%;
    max-width: 280px;
    top: -120px;
    left: 5%;
    margin-top: auto;
}

.project-tile-five {
    position: relative;
    /* right: 10%; */
    left: 2%;
    top: -100px;
    margin-top: auto;
    max-width: 320px;
}

.project-tile-six {
    position: relative;
    height: fit-content;
    position: relative;
    /* right: 10%; */
    left: 10%;
    top: -80px;
    margin-top: auto;
    max-width: 390px;
}