:root {
  color: #1B1212;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* These 2 lines ensure scrollbar is hidden, 
  but user can still scroll */
  scrollbar-width: none;
  -ms-overflow-style: none;
}


body {
  margin: 0;
  display: flex;
  min-width: 100dvw;
  height: 100dvh;
  line-height: 140%;
}

/* 
a {
  text-decoration: none;
} */

header {
  display: flex;
  top: 0;
  position: sticky;
  flex-direction: column;
  min-width: 100vw;
  width: 100vw;
  z-index: 10;
}