.project-context-container {
    display: flex;
    max-width: 1100px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.context-body {
    font-family: 'Josefin Sans';
    font-weight: 350;
    word-spacing: 4px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    text-align: left;
}

.context-title {
    font-family: 'Josefin Sans';
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 50%;
}

.images-container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 50px;
    /* background-color: red; */
    /* border: solid 2px black; */
}

.images-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* background-color: blue; */
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-one-container {
    position: relative;
    /* width: 74%; */
    max-width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: none;
}

.image-two-container {
    position: relative;
    margin-top: 10%;
    /* width: 40.9%; */
    max-width: 650px;
    height: auto;
    left: 10%;
}

.image-three-container {
    position: relative;
    margin-top: 8%;
    /* width: 54%; */
    max-width: 600px;
    height: auto;
    left: 33%;
}

.image-four-container {
    position: relative;
    /* width: 54%; */
    max-width: 600px;
    height: auto;
    left: 33%;
}

.image-five-container {
    position: relative;
    /* width: 45.45%; */
    margin-top: 12%;
    max-width: 650px;
    height: auto;
    left: 7%;
}

.image-six-container {
    position: relative;
    /* width: 78%; */
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: auto;
}

.image-seven-container {
    position: relative;
    /* width: 50%; */
    margin-top: 10%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.image-eight-container {
    position: relative;
    /* width: 50%; */
    margin-top: 10%;
    max-width: 600px;
    height: auto;
    left: 40%;
}

.image-nine-container {
    position: relative;
    /* width: 96%; */
    margin-top: 16%;
    max-width: 800px;
    height: auto;
    left: 3%;
}

.image-ten-container {
    position: relative;
    /* width: 60%; */
    max-width: 550px;
    height: auto;
    left: 38%;
}

.image-eleven-container {
    position: relative;
    /* width: 56%; */
    margin-top: 18%;
    max-width: 560px;
    height: auto;
    left: 3%;
}

.image-twelve-container {
    position: relative;
    /* width: 71%; */
    max-width: 885px;
    height: auto;
    left: 15%;
}

.image-thirteen-container {
    position: relative;
    /* width: 51%; */
    margin-top: 10%;
    max-width: 790px;
    height: auto;
    left: 2%;
}

.image-fourteen-container {
    position: relative;
    /* width: 68%; */
    margin-top: 12%;
    max-width: 1000px;
    height: auto;
    left: 5%;
}

.image-fifteen-container {
    position: relative;
    /* width: 42%; */
    margin-top: 18%;
    max-width: 620px;
    height: auto;
    left: 2%;
}

.image-sixteen-container {
    position: relative;
    /* width: 73%; */
    max-width: 560px;
    height: auto;
    left: 45%;
}

.image-seventeen-container {
    position: relative;
    /* width: 43%; */
    margin-top: 20%;
    max-width: 850px;
    height: auto;
    left: 15%;
}

.image-eighteen-container {
    position: relative;
    /* width: 53%; */
    margin-top: 7%;
    max-width: 700px;
    height: auto;
    left: 5%;
}

.image-nineteen-container {
    position: relative;
    /* width: 46%; */
    margin-top: 5%;
    max-width: 650px;
    height: auto;
    left: 35%;
}

.image-twenty-container {
    position: relative;
    /* width: 51%; */
    margin-top: 5%;
    margin-bottom: 10%;
    max-width: 750px;
    height: auto;
    left: 8%;
}
